<!DOCTYPE html>
<html
      xmlns:th="http://www.thymeleaf.org">
<body>

<h3 class="mb-3">📦 Quản lý sản phẩm</h3>

<table class="table table-bordered table-hover">
    <thead class="table-dark">
    <tr>
        <th>ID</th>
        <th>Tên</th>
        <th>Giá</th>
        <th>Loại</th>
        <th>Thao tác</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="p : ${items}">
        <td th:text="${p.id}"></td>
        <td th:text="${p.name}"></td>
        <td th:text="${#numbers.formatDecimal(p.price,1,0)}"></td>
        <td th:text="${p.category.name}"></td>
        <td>
            <a th:href="@{/admin/product/edit/{id}(id=${p.id})}"
               class="btn btn-sm btn-warning">Edit</a>
            <a th:href="@{/admin/product/delete/{id}(id=${p.id})}"
               class="btn btn-sm btn-danger"
               onclick="return confirm('Xóa sản phẩm?')">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
