<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="content">
<h3 class="mb-3">Chi tiết đơn hàng #[[${order.id}]]</h3>

<table class="table table-bordered shadow-sm">
    <thead class="table-light">
    <tr>
        <th>Sản phẩm</th>
        <th>Giá</th>
        <th>Số lượng</th>
        <th>Thành tiền</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="d : ${details}">
        <td th:text="${d.product.name}"></td>
        <td th:text="${#numbers.formatDecimal(d.price, 1, 'POINT', 0, 'COMMA')} + ' đ'"></td>
        <td th:text="${d.quantity}"></td>
        <td class="fw-bold text-danger"
            th:text="${#numbers.formatDecimal(d.price * d.quantity, 1, 'POINT', 0, 'COMMA')} + ' đ'">
        </td>
    </tr>
    </tbody>
</table>
<div class="text-end">
    <a th:href="@{/order/list}" class="btn btn-secondary">Quay lại danh sách</a>
</div>

</body>
</html>