<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/account/change-password}" method="post"
      class="col-md-4 mx-auto">
    <h3 class="mb-3">Đổi mật khẩu</h3>

    <input type="password" name="oldPassword"
           class="form-control mb-2"
           placeholder="Mật khẩu cũ" required>

    <input type="password" name="newPassword"
           class="form-control mb-2"
           placeholder="Mật khẩu mới" required>

    <input type="password" name="confirmPassword"
           class="form-control mb-3"
           placeholder="Xác nhận mật khẩu" required>

    <button class="btn btn-warning w-100">Đổi mật khẩu</button>
</form>

</body>
</html>