<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="content">
<div class="card shadow col-md-4 mx-auto mt-5">
    <div class="card-body">
        <form th:action="@{/account/change-password}" method="post">
            <h3 class="mb-3 text-center">Đổi mật khẩu</h3>

            <div th:if="${error}" class="alert alert-danger p-2 small" role="alert">
                <i class="bi bi-exclamation-triangle"></i> [[${error}]]
            </div>

            <div th:if="${message}" class="alert alert-success p-2 small" role="alert">
                <i class="bi bi-check-circle"></i> [[${message}]]
            </div>

            <input type="password" name="oldPassword"
                   class="form-control mb-2"
                   placeholder="Mật khẩu cũ" required>

            <input type="password" name="newPassword"
                   class="form-control mb-2"
                   placeholder="Mật khẩu mới" required>

            <input type="password" name="confirmPassword"
                   class="form-control mb-3"
                   placeholder="Xác nhận mật khẩu" required>

            <button class="btn btn-warning w-100 fw-bold">Đổi mật khẩu</button>

            <div class="text-center mt-3">
                <a th:href="@{/account/edit-profile}" class="text-decoration-none small">Quay lại thông tin cá nhân</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>