<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="content">
<div class="card shadow col-md-6 mx-auto mt-5">
    <div class="card-body">
        <form th:action="@{/account/edit-profile}" method="post" enctype="multipart/form-data">
            <h3 class="text-center mb-4 text-primary">Thông tin cá nhân</h3>

            <div class="mb-3">
                <label class="form-label fw-bold">Tên đăng nhập:</label>
                <input th:value="${session.user.username}" class="form-control bg-light" readonly>
            </div>

            <div class="mb-3">
                <label class="form-label fw-bold">Họ và tên:</label>
                <input name="fullname" th:value="${session.user.fullname}" class="form-control" required>
            </div>

            <div class="mb-3">
                <label class="form-label fw-bold">Email:</label>
                <input th:value="${session.user.email}" class="form-control bg-light" readonly>
            </div>

        </div>

            <div class="d-grid gap-2">
                <button class="btn btn-success">Lưu thay đổi</button>
                <hr>
                <a th:href="@{/account/change-password}" class="btn btn-outline-warning text-dark">
                    <i class="bi bi-key"></i> Đổi mật khẩu ngay
                </a>
            </div>
        </form>
    </div>
</div>
</body>
</html>