<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="content">
<form th:action="@{/account/sign-up}" method="post" class="col-md-5 mx-auto">
    <h3>Đăng ký</h3>
    <input name="username" class="form-control mb-2" placeholder="Username">
    <input name="fullname" class="form-control mb-2" placeholder="Họ tên">
    <input name="email" class="form-control mb-2" placeholder="Email">
    <input type="password" name="password" class="form-control mb-2" placeholder="Password">
    <button class="btn btn-success w-100">Đăng ký</button>
</form>

</body>
</html>